<%- include("header") -%>

<h2>About Myself</h2>

<p>My name is Vinit Pundeer. I am pursuing B.Tech in computer science and Engineering(CSE) from Ajay Kumar Garg Enginnering College, Ghaziabad. I am from Thanbhawan(Shamli). I am 3 star coder @ codechef and have solved 150+ problems on leetcode. I am working on MERN stack now.
    <h5>Thanks!!</h5>
</p>

<%- include("footer") -%>
